!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Thumbsup
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'

    = javascript_include_tag "https://code.jquery.com/jquery-3.3.1.slim.min.js"
    = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    = javascript_include_tag "https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    %div{:style => "background-color:lightgrey;border-radius:25px;text-align: right; font-size: 20px;"}
      %div{:class => "col-12"}
        - if user_signed_in?
          = link_to "Sign Out", destroy_user_session_path, method: :delete
        - else
          = link_to "Sign In", new_user_session_path
    %header
      %h1
        = image_tag("thumbsUpbigT.png")
        %br
        %small modern rideshare for students

    = yield

    %footer
      .foot
        created at slohacks 2019
